.popup-container {
    position: relative;
}

.popup-content {
    border-radius: 15px;
    max-width: 500px;
}

.popup-form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
}

.input-item{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 1.2rem;
}

.popup-label {
    margin: 0;
    color: var(--gray3);
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.popup-title {
    margin: 0;
    margin-bottom: 2rem;
    align-self: center;
}

.popup-input {
    padding: 0.5rem;
    border-radius: 5px;
    outline: 1px solid var(--gray3);
    border: none;
    margin-bottom: 1rem;
}

.popup-input:focus-visible {
    outline: none;
    border: none;
    outline: 2px solid var(--primary-color) !important;
}

.popup-form-submit {
    padding: 0.8rem;
    border-radius: 15px;
    border: 1px solid;
    font-size: 1.2rem;
    background-color: var(--blue2);
    margin-top: 2rem;
    color: white;
    cursor: pointer;
    width: 80%;
    align-self: center;
}

.popup-close-button {
    display: flex;
    border-radius: 30px;
    padding: 0.3rem;
    align-items: center;
    background-color: var(--gray0);
    justify-content: center;
    outline: none;
    border: none;
    position: absolute;
    cursor: pointer;
    right: 0;
}

.close-popup {
    margin: 0 !important;
    color: var(--gray3);
}

#studentID {
    width: 100%;
}